html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .body {
    width: 98%;
    height: 92%;
    margin: 2%;
    background-image: linear-gradient(126deg, #2fcfba, #47a1ba);
  }
  .Schedule-body {
    width: 94%;
    height: 92%;
    background-color: #f7f7f7;
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
  }
  aside {
    width: 20%;
    height:86%;
    background-color: #1b3c50;
    display: inline-block;
    padding-top: 55px;
    float: left;
    position: fixed;
  }
  .oval-image {
	width: 120px;
	height: 120px;
  background-image:url("../images/profilepic.png");
  background-size: contain;
  margin: 0px 85px 0px 90px;
}
.henrietta-schmidtt {
	width: 220px;
	height: 19px;
	font-family: $font-montserrat;
	font-size: 20px;
	letter-spacing: 0.2px;
	text-align: center;
	color: #f7f7f7;
  margin-top: 20px;
  padding-left: 40px;
}
.Aside-P {
  margin-top: 10px;
}
.AcademicServices {
  @extend .henrietta-schmidtt;
  font-size: 16px;
  text-align: left;
  margin: 40px 11.5px 0px 0px;
}
.CollegeInformation {
  @extend .AcademicServices;
}
.CurrentSchedule {
  width: 220px;
	height: 19px;
	font-family: $font-montserrat;
	font-size: 20px;
	letter-spacing: 0.2px;
	color: #f7f7f7;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  padding-top: 10px;
  text-align: left;
  padding-left: 85px;
}
.GradesReporting {
  @extend .CurrentSchedule;
  margin-left: 0px;
}
.UpcomingCourses {
  @extend .CurrentSchedule;

}
.CollegeCalendar {
  @extend .CurrentSchedule;
}
.FinancialAid {
  @extend .CurrentSchedule;
}
.StudentServices {
  @extend .CurrentSchedule;
}
a:hover {
  width: 203px;
  height: 25px;
  background-color: #0b2535;
}
.inline-block {
width: 80%;
height: 720px;
display: inline-block;
float: right;
}
