.GR-CSET {
  width: 262px;
height: 20px;
font-family: $font-montserrat;
font-size: 12px;
font-weight: bold;
line-height: 1.75;
letter-spacing: 0.2px;
text-align: left;
color: #2e0a3a;
margin-left: 35%;
margin-top: 20px;
}
.GR-ITWA {
@extend .GR-CSET;
  font-size: 15px;
	font-weight: normal;
	line-height: 1.4;
	color: #202020;
  margin-top: 0px;
}
.pie {
  width: 150px; height: 150px;
  border-radius: 50%;
  background: #d8d8d8;
  margin-left: 12%;
  margin-top: 10px;
  background-image:
  linear-gradient(to right, transparent 50%, teal 0);
}

.pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background: #d8d8d8;
  transform-origin: left;
  transform: rotate(.4turn);
}
