.GR-CSET {
  width: 262px;
height: 20px;
font-family: $font-montserrat;
font-size: 12px;
font-weight: bold;
line-height: 1.75;
letter-spacing: 0.2px;
text-align: left;
color: #2e0a3a;
margin-left: 50%;
margin-top: 20px;
}
.GR-ITWA {
@extend .GR-CSET;
  font-size: 15px;
	font-weight: normal;
	line-height: 1.4;
	color: #202020;
  margin-top: 0px;
}
.pie {
  width: 100px; height: 100px;
  border-radius: 50%;
  background: yellowgreen;
  margin-left: 50%;
}
