.header{
  background-color: white;
  margin-left: 240px;
  margin-top: 20px;
  .home{
    margin-left: 50px;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: $text-headerblack;
    font-family: $font-montserrat;
    margin-right: 400px;

  }
  .log-out{
    margin-left: 350px;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: right;
    color: $text-lightblue;
  }
  .bar{
    background-color: $bar-color;
    height: 2px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
  }
}

.header-section{
  margin-left: 0px;
  background-color: white;
  .current-prog{
    .text-m-1{
      color: $text-hblue;
      padding-bottom: 10px;
    }
    .text-m-2{
      padding-bottom: 10px;
    }
  }
  .bar{
    background-color: $bar-color;
    height: 2px;
    width: 73%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.header-block{
  display: inline-block;
  width: 77%;
  .first{
    display: inline-block;
    width: 34%;
    .text-m-1{
      font-weight: bold;
      padding-bottom: 10px;
    }
    .text-m-2{

    }
  }
  .second{
    display: inline-block;
    padding-left: 30px;
    width: 23%;
    .text-m-1{
      font-weight: bold;
      padding-bottom: 10px;
    }
  }
  .third{
    display: inline-block;
    padding-left: 60px;
    width: 23%;
    .text-m-1{
      font-weight: bold;
      padding-bottom: 10px;
    }
  }
}
