.hide{
  display: none;
}

.aslde{
  position: fixed;
}

.second-section{
  margin-left: 0px;
  display: inline-block;
  .program-announ{
    float: left;
    .text-m-1{
      padding-bottom: 10px;
      color: $text-hblue;
    }
    .text-m-2{
      padding-bottom: 10px;
    }
    .text-r-1{
      padding-bottom: 10px;
      word-wrap: break-word;
      width: 70%;
      font-size: 14px;
    }
  }
  .upcoming-dates{
    padding-right: 10px;
    float: right;
    .text-m-1{
      padding-bottom: 10px;
      color: $text-hblue;
      word-wrap: break-word;
    }
    .text-m-2{
      width: 80%;
      word-wrap: break-word;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }
  .bar{
    background-color: $bar-color;
    height: 2px;
    width: 89%;
    margin-top: 160px;
    margin-bottom: 10px;
  }
}

.college-announcments{
  margin-left: 0px;
  margin-top: 30px;
  display: inline-block;
  .Tutoring{
    .text-m-1{
      color: $text-hblue;
      padding-bottom: 10px;
    }
    .text-m-2{
      padding-bottom: 10px;
    }
    .text-r-1{
      color: #373737;
      font-size: 15px;
      width: 100%;
    }
  }
  .intern{
    .text-m-2{
      padding-top: 20px;
      padding-bottom: 10px;
    }
    .text-r-1{
      color: #373737;
      font-size: 15px;
      width: 100%;
    }
  }
  .UpEvents{
    display: inline-block;
    width: 19%;
    margin-left: 340px;

    .text-m-1{
      color: $text-hblue;
      padding-bottom: 25px;
    }
    .text-m-2{
      padding-bottom: 25px;
    }
  }
  .thisWillMoveL{
    display: inline-block;
    width: 30%;
  }
  .bar{
    background-color: $bar-color;
    height: 2px;
    width: 73%;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.Software-Project-I{
  .S-P-I{
    width: 20%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 620px;
    .text-m-1{
      color: $text-hblue;
      padding-bottom: 10px;
    }
  }
  .bar{
    background-color: $bar-color;
    height: 2px;
    width: 73%;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.TutoringAvailable{
  display: inline-block;
  padding-bottom: 20px;
  .C-A-L{
    display: inline-block;
    width: 40%;
    .text-m-1{
      color: $text-hblue;
      padding-bottom: 10px;
    }
    .text-m-2{
      padding-bottom: 10px;
    }
    .text-r-1{
      font-size: 15px;
      padding-bottom: 5px;
      color: #373737;
    }
  }
  .upcoming-events2{
    margin-left: 200px;
    display: inline-block;
    width: 24%;
    .text-m-1{
      color: $text-hblue;
      padding-bottom: 10px;
    }
  }
}
