.bar-schedule {
	@extend .bar;
	padding-right: 65px;
}
.Sundaytwo-one {
	width: 238px;
	height: 13px;
	font-family: $font-montserrat;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.2px;
	float: right;
	color: #1b3c50;
 padding-right: 170px;
}
.Current-schedule-c {
  @extend .upcominglink;
}
.CS-container {
display: inline-flex;
}
.CS-inlineflex {
  flex-direction: row;
}
.CS {
	width: 320px;
	height: 13px;
	font-family: $font-montserrat;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.2px;
	text-align: left;
	color: #48a2ba;
  margin-top: 17px;
	margin-left: 35%;
}
.View-as-c {
  width: 165.1px;
	height: 13px;
	font-family: $font-montserrat;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #2e0a3a;
  margin-top: 17px;
	margin-left: 415px;
}
.list-c {
  @extend .View-as-c;
  float: right;
  text-decoration: none;
  margin-left: -90px;
}
.line-c {
  @extend .View-as-c;
  float: right;
  text-decoration: none;
  margin-left: -130px;
}
.Calendar-c {
  @extend .View-as-c;
  text-decoration: none;
  float: right;
  margin-left: -150px;
}

.flex-container {
  display: inline-flex;
  margin-top: 14px;
	margin-left: 10%;
}
.Day-one {
    width: 160px;
    height: 375px;
    background-color: rgba(47, 207, 186, 0.15);
    flex-direction: row;
		margin-right: 2px;
}
.monday, .tuesday, .Wednesday, .Thursday, .Friday {
    width: 130px;
    height: 13px;
    font-family: $font-montserrat;
    font-size: 10px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #2e0a3a;
    padding-top: 12px;
    padding-bottom: 12px;
		padding-left: 20px;
}
.Monday-english-container, .Tuesday-math-container, .Wednesday-english-container, .Thursday-math-container {
    width: 160px;
    height: 59px;
    background-color: #1b3c50;
}
.Monday-english, .Tuesday-math, .Wednesday-english, .Thursday-math {
    width: 134px;
    height: 1px;
    font-family: $font-montserrat;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: center;
    color: #f7f7f7;
  	padding-top: 15px;
		padding-left: 20px;
}
.English-Composition, .College-algebra {
  @extend .Monday-english;
    font-size: 10px;
    line-height: 1.2;
}
.CSET-0neZeroFive-container, .CSET-0neten-container {
    width: 160px;
    height: 177px;
    background-color: #1b3c50;
  	margin-top: 78px;
}
.IntroToWeb-Monday, .Web-development-one {
  width: 85%;
    height: 10px;
    font-family: $font-montserrat;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    text-align: center;
    color: #f7f7f7;
  margin: 0px 10% 0px 5%;
}
.CSET-0neZeroFive, .CSET-0neten {
  @extend .IntroToWeb-Monday;
  width: 90%;
  font-size: 8px;
    line-height: 1.5;
  padding-top: 65px;
  margin: 0px 5% 0px 5%;
}
.Day-two {
  @extend .Day-one;
}
.Day-three {
  @extend .Day-one;
}
.CSET-0neten-container-wed {
  @extend .CSET-0neZeroFive-container;
  height: 162px;
  margin-top: 93px;
}
.CSET-0neten-wed {
  @extend .CSET-0neZeroFive;
  padding-top: 50px;
}
.Day-four {
  @extend .Day-one;
}
.Day-five {
  @extend .Day-one;
}
.CSET-0netwozero-container {
  @extend .CSET-0neten-container;
  margin-top: 137px;
}
