.genedsbox{
  background-color: white;
  width: 840px;
 height: 500px;
 margin-top: 25px;
}
.courseregistration{
  color: #33c7ba;
  font-family: $font-montserrat;
  font-weight: bold;
  letter-spacing: .2px;
  margin-left: 20px;
  float: left;
  padding-top: 20px;
}
.course-sixty{
display: inline-block;
}
.sixty{
  color: #33c7ba;
  font-family: $font-montserrat;
  font-weight: bold;
  letter-spacing: .2px;
  float: right;
  margin-left: 525px;
  padding-top: 20px;
}
//LINE CODE BELOW//
.lightblueline{
width: 321px;
height: 5px;
background-color: #50e3c2;
float: left;
}
.darkblueline{
   width: 642px;
 height: 5px;
 background-color: #359ca1;
}
.linetogether{
  display: inline-block;
  margin-left: 100px;
}
.generaleducation{
  font-family: $font-montserrat;
  letter-spacing: .2px;
  width: 493.9px;
  height: 18px;
  margin-top: 10px;
  margin-left:15px;
}
.genedbar{
  width: 575px;
height: 1px;
background-color: #359ca1;
}
.cis{
  color: #44ccc0;
  font-family: $font-montserrat;
  margin-left: 50px;
  font-size: 15px;
  line-height: 2.4;
letter-spacing: 0.2px;
}
