.body-uper-c-en{
  width: 98%;
  height: 89%;
  margin: 2%;
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba);
  position: static;
  .back-j{
    background-color: #f7f7f7;
    width: 96.5%;
  .header-section{
    .first{
      display: inline-block;
      .text-m-1{
        padding-bottom: 10px;
      }
    }
  }
.header-section{
  background-color: #f7f7f7;
  position: fixed;
  margin-top: 35px;
  margin-left: 350px;
  width: 70%;
  .current-prog{
    .text-m-1{
      color: $text-hblue;
      padding-bottom: 10px;
    }
    .text-m-2{
      padding-bottom: 10px;
    }
  }
  .bar{
    background-color: $bar-color;
    height: 2px;
    width: 87%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.upcoming-courses-en{
  display: inline-block;
  margin-left: 350px;
  margin-top: 200px;
  .up-courses-en{
    border: solid red;
    display: inline-block;
    float: left;
    .text-m-1{
      color: $text-hblue;
    }
    .sem-spring{
      display: inline-block;
      border: solid red;
      float: right;
      .text-m-1{
        color: $text-lightblue;
      }
      .text-m-2{
        color: $text-hblue;
      }
    }
  }
}
.CS-container {
display: inline-flex;
margin-left: 280px;
margin-top: 155px;

  .CS-inlineflex {
  flex-direction: row;
  }
  .semester-up {
    width: 165.1px;
    height: 13px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-left: 400px;
    color: #48a2ba;
    margin-top: 17px;
  }
  .spring-up {
    width: 165.1px;
    height: 13px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #5bd8c8;
    margin-top: 17px;
    margin-left: -90px;
  }
}

  .course-rege-en{
    background-color: white;
    width: 65%;
    margin-left: 365px;
    .courseregistration{
      margin-top: 40px;
      color: #33c7ba;
      font-family: $font-montserrat;
      font-weight: bold;
      letter-spacing: .2px;
      margin-left: 20px;
      float: left;
      background-color: white;
    }
    .course-sixty{
    display: inline-block;
    }
    .sixty{
      margin-top: 40px;
      color: #33c7ba;
      font-family: $font-montserrat;
      font-weight: bold;
      letter-spacing: .2px;
      float: right;
      margin-left: 425px;
    }
    //LINE CODE BELOW//
    .lightblueline{
    width: 381px;
    height: 5px;
    background-color: #50e3c2;
    float: left;
    }
    .darkblueline{
       width: 812px;
     height: 5px;
     background-color: #359ca1;
    }
    .linetogether{
      display: inline-block;
      margin-left: 25px;
    }
  .gen-edu{
    margin-left: 70px;
    margin-top: 40px;
    .text-m-1{
      font-size: 18px;
    }
  }
  .english-solo{
    margin-left: 90px;
    margin-top: 40px;
    .text-m-1{
      font-size: 16px;
      color: $text-hblue;
    }
  }
  .bar2{
    background-color: $bar-color;
    height: 2px;
    width: 78%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 105px;
  }
}
  .eng-boxes{
    margin-left: 105px;
    display: flex;
    display: inline-block;
    width: 77%;
    .text-m-1{
      color: $text-hblue;
      padding-bottom: 20px;
      font-size: 20px;
    }
    .text-m-2{
      font-size: 18px;
      padding-bottom: 20px;
    }
    .boxes-for-eng-page{
      padding-right: 155px;
      display: inline-block;
    }
    .boxes-for-eng-page-2{
      padding-right: 130px;
      display: inline-block;
    }
  }
  .button-regi{
    margin-left: 260px;
    .startb{
      width: 120px;
     height: 50px;
     font-family: $font-montserrat;
     font-size: 14px;
     font-weight: bold;
     letter-spacing: 0.2px;
     text-align: center;
     color: #f7f7f7;
     background-color: $text-lightblue;
     margin-left: 340px;
     margin-top: 15px;
    }
  }
}
}
