.genedsbox{
  background-color: white;
  width: 800px;
 height: 400px;
 margin-top: 25px;
 margin-left: 10%;
}
.courseregistration{
  color: #33c7ba;
  font-family: $font-montserrat;
  font-weight: bold;
  letter-spacing: .2px;
  margin-left: 20px;
  float: left;
  padding-top: 5px;
}
.course-sixty{
display: inline-block;
}
.sixty{
  color: #33c7ba;
  font-family: $font-montserrat;
  font-weight: bold;
  letter-spacing: .2px;
  float: right;
  margin-left: 485px;
  padding-top: 5px;
}
//LINE CODE BELOW//
.lightblueline{
width: 321px;
height: 5px;
background-color: #50e3c2;
float: left;
}
.darkblueline{
   width: 642px;
 height: 5px;
 background-color: #359ca1;
}
.linetogether{
  display: inline-block;
  margin-left: 100px;
}
.generaleducation{
  font-family: $font-montserrat;
  letter-spacing: .2px;
  width: 493.9px;
  height: 18px;
  margin-top: 10px;
  margin-left:15px;
}
.genedbar{
  width: 720px;
height: 1px;
background-color: #359ca1;
}
.cis{
  color: #44ccc0;
  font-family: $font-montserrat;
  margin-left: 50px;
  font-size: 15px;
  line-height: 2.4;
letter-spacing: 0.2px;
}
.greaterthan{
  float: right;
  margin-right: 55px;
}
.cset155{
  font-family: $font-montserrat;
  letter-spacing: 0.2px;
  color: #48a2ba;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 10px;
}
.databased{
  font-family: $font-montserrat;
}
.firstbox{
margin-left: 40px;
margin-top: 40px;
}

.secondbox{
  margin-left: 40px;
  margin-top: 40px;
}
.thirdbox{
  margin-left: 400px;
  margin-top: -130px;
}
.fourthbox{
  margin-left: 400px;
  margin-top: 40px;
}
.gethelp2{
    color: #50e3c2;
    margin-left: 550px;
    margin-top: 50px;
}
.startb23{
  width: 120px;
 height: 50px;
 font-family: $font-montserrat;
 font-size: 14px;
 font-weight: bold;
 letter-spacing: 0.2px;
 text-align: center;
 color: #f7f7f7;
 background-color: $text-lightblue;
 margin-left: 650px;
 margin-top: -50px;
}
.getstart{
  display: inline-block;
}
