.semester-up {
  width: 165.1px;
	height: 13px;
	font-family: $font-montserrat;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.2px;
  margin-left: 340px;
  color: #48a2ba;
  margin-top: 17px;
}
.spring-up {
  width: 165.1px;
  height: 13px;
  font-family: $font-montserrat;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #5bd8c8;
  margin-top: 17px;
  margin-left: -90px;
}
.registerbox{
  width: 800px;
  height: 235px;
  background-color: white;
  margin-top: 25px;
  padding-right: 40px;
  h1{
    color: $text-lightblue;
    font-family: $font-montserrat;
    text-align: center;
    font-weight: bold;
      letter-spacing: 0.2px;
      padding-top: 50px;
  }
}
.registerbox{
h2{
text-align: center;
font-family:  $font-montserrat;
font-weight: 550;
margin-top: 5px;
letter-spacing: 0.2px;
font-size: 16px;
}
}
.startb{
  width: 120px;
 height: 50px;
 font-family: $font-montserrat;
 font-size: 14px;
 font-weight: bold;
 letter-spacing: 0.2px;
 text-align: center;
 color: #f7f7f7;
 background-color: $text-lightblue;
 margin-left: 340px;
 margin-top: 35px;
}
