/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
*Mobile Mix-ins
*(note that these mixins do not set every block. certain text and colors will need to be overridden. For the most part these mixins are universal)
*/
/* jesse's presets */
.text-m-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left; }

.text-m-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left; }

.text-r-1 {
  font-family: "roboto slab", serif;
  font-size: 13px;
  line-height: 1.62;
  letter-spacing: 0.2px;
  text-align: left; }

.text-r-2 {
  font-family: "roboto slab", serif;
  font-size: 13px;
  line-height: 1.62;
  letter-spacing: 0.2px;
  text-align: left; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

body {
  background-color: #2fcfba; }

aside {
  width: 220px;
  height: 720px;
  background-color: #1b3c50;
  margin: 24px 0px 24px 32px;
  display: block;
  padding-top: 55px; }

.oval-image {
  width: 100px;
  height: 100px;
  background-image: url("../images/profilepic.png");
  background-size: contain;
  margin: 0px 85px 0px 55px; }

.henrietta-schmidtt, .AcademicServices, .CollegeInformation, .CurrentSchedule, .GradesReporting, .UpcomingCourses, .CollegeCalendar, .FinancialAid, .StudentServices {
  width: 220px;
  height: 19px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f7f7f7;
  margin-top: 20px; }

.Aside-P {
  margin-top: 10px; }

.AcademicServices, .CollegeInformation {
  font-size: 13px;
  text-align: left;
  margin: 27px 11.5px 0px 21.5px; }

.CurrentSchedule, .GradesReporting, .UpcomingCourses, .CollegeCalendar, .FinancialAid, .StudentServices {
  font-size: 11px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  padding-top: 10px; }

a:hover {
  width: 220px;
  height: 25px;
  background-color: #0b2535; }

.header {
  margin-left: 40px; }
  .header .home {
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #1b3c50;
    font-family: "Montserrat", sans-serif;
    margin-right: 400px; }
  .header .log-out {
    margin-left: 400px;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: right;
    color: #48a2ba; }
  .header .bar {
    background-color: #6291a9;
    height: 2px;
    width: 63%;
    margin-top: 10px;
    margin-bottom: 10px; }

.header-section {
  margin-left: 40px; }
  .header-section .current-prog .text-m-1 {
    color: #59aac0;
    padding-bottom: 10px; }
  .header-section .current-prog .text-m-2 {
    padding-bottom: 10px; }
  .header-section .bar {
    background-color: #6291a9;
    height: 2px;
    width: 63%;
    margin-top: 10px;
    margin-bottom: 10px; }

.header-block {
  display: inline-block;
  width: 63%; }
  .header-block .first {
    display: inline-block;
    width: 34%; }
    .header-block .first .text-m-1 {
      font-weight: bold;
      padding-bottom: 10px; }
  .header-block .second {
    display: inline-block;
    padding-left: 30px;
    width: 23%; }
    .header-block .second .text-m-1 {
      font-weight: bold;
      padding-bottom: 10px; }
  .header-block .third {
    display: inline-block;
    padding-left: 120px;
    width: 23%; }
    .header-block .third .text-m-1 {
      font-weight: bold;
      padding-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
