/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
*Mobile Mix-ins
*(note that these mixins do not set every block. certain text and colors will need to be overridden. For the most part these mixins are universal)
*/
/* jesse's presets */
.text-m-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left; }

.text-m-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left; }

.text-r-1 {
  font-family: "roboto slab", serif;
  font-size: 13px;
  line-height: 1.62;
  letter-spacing: 0.2px;
  text-align: left; }

.text-r-2 {
  font-family: "roboto slab", serif;
  font-size: 13px;
  line-height: 1.62;
  letter-spacing: 0.2px;
  text-align: left; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

.body {
  width: 98%;
  height: 92%;
  margin: 2%;
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba); }

.Schedule-body {
  width: 94%;
  height: 92%;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed; }

aside {
  width: 20%;
  height: 86%;
  background-color: #1b3c50;
  display: inline-block;
  padding-top: 55px;
  float: left;
  position: fixed; }

.oval-image {
  width: 120px;
  height: 120px;
  background-image: url("../images/profilepic.png");
  background-size: contain;
  margin: 0px 85px 0px 90px; }

.henrietta-schmidtt, .AcademicServices, .CollegeInformation {
  width: 220px;
  height: 19px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f7f7f7;
  margin-top: 20px;
  padding-left: 40px; }

.Aside-P {
  margin-top: 10px; }

.AcademicServices, .CollegeInformation {
  font-size: 16px;
  text-align: left;
  margin: 40px 11.5px 0px 0px; }

.CurrentSchedule, .GradesReporting, .UpcomingCourses, .CollegeCalendar, .FinancialAid, .StudentServices {
  width: 220px;
  height: 19px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #f7f7f7;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  padding-top: 10px;
  text-align: left;
  padding-left: 85px; }

.GradesReporting {
  margin-left: 0px; }

a:hover {
  width: 203px;
  height: 25px;
  background-color: #0b2535; }

.inline-block {
  width: 80%;
  height: 720px;
  display: inline-block;
  float: right; }

.header {
  background-color: #f7f7f7;
  margin-left: 240px;
  margin-top: 40px; }
  .header .home {
    margin-left: -15px;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #1b3c50;
    font-family: "Montserrat", sans-serif;
    margin-right: 400px; }
  .header .log-out {
    margin-left: 160px;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: right;
    color: #48a2ba; }
  .header .bar, .header .bar-schedule {
    background-color: #6291a9;
    height: 2px;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 140px; }

.body-index {
  background-color: #f7f7f7; }
  .body-index .header-section {
    background-color: #f7f7f7;
    position: fixed;
    margin-top: 50px;
    margin-left: 350px;
    width: 70%; }
    .body-index .header-section .current-prog .text-m-1 {
      color: #59aac0;
      padding-bottom: 10px; }
    .body-index .header-section .current-prog .text-m-2 {
      padding-bottom: 10px; }
    .body-index .header-section .bar, .body-index .header-section .bar-schedule {
      background-color: #6291a9;
      height: 2px;
      width: 87%;
      margin-top: 10px;
      margin-bottom: 10px; }

.header-block {
  display: inline-block;
  width: 77%;
  margin-top: 22px; }
  .header-block .first {
    display: inline-block;
    width: 34%; }
    .header-block .first .text-m-1 {
      font-weight: bold;
      padding-bottom: 10px; }
  .header-block .second {
    display: inline-block;
    padding-left: 30px;
    width: 23%; }
    .header-block .second .text-m-1 {
      font-weight: bold;
      padding-bottom: 10px; }
  .header-block .third {
    display: inline-block;
    padding-left: 60px;
    width: 23%; }
    .header-block .third .text-m-1 {
      font-weight: bold;
      padding-bottom: 10px; }

.Header-academic-services {
  color: #1b3c50;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  letter-spacing: 0.2px;
  border-color: red;
  float: left;
  margin-top: 5px; }

.hide {
  display: none; }

.aslde {
  position: fixed; }

.second-section {
  margin-left: 0px;
  display: inline-block;
  margin-left: 350px;
  margin-top: 200px; }
  .second-section .program-announ {
    float: left; }
    .second-section .program-announ .text-m-1 {
      padding-bottom: 10px;
      color: #59aac0; }
    .second-section .program-announ .text-m-2 {
      padding-bottom: 10px; }
    .second-section .program-announ .text-r-1 {
      padding-bottom: 10px;
      word-wrap: break-word;
      width: 70%;
      font-size: 14px; }
  .second-section .upcoming-dates {
    padding-right: 10px;
    float: right; }
    .second-section .upcoming-dates .text-m-1 {
      padding-bottom: 10px;
      color: #59aac0;
      word-wrap: break-word; }
    .second-section .upcoming-dates .text-m-2 {
      width: 80%;
      word-wrap: break-word;
      padding-bottom: 10px;
      font-weight: bold; }
  .second-section .bar, .second-section .bar-schedule {
    background-color: #6291a9;
    height: 2px;
    width: 92.9%;
    margin-top: 160px;
    margin-bottom: 10px; }

.college-announcments {
  margin-left: 350px;
  margin-top: 30px;
  display: inline-block; }
  .college-announcments .Tutoring .text-m-1 {
    color: #59aac0;
    padding-bottom: 10px; }
  .college-announcments .Tutoring .text-m-2 {
    padding-bottom: 10px; }
  .college-announcments .Tutoring .text-r-1 {
    color: #373737;
    font-size: 15px;
    width: 100%; }
  .college-announcments .intern .text-m-2 {
    padding-top: 20px;
    padding-bottom: 10px; }
  .college-announcments .intern .text-r-1 {
    color: #373737;
    font-size: 15px;
    width: 100%; }
  .college-announcments .UpEvents {
    display: inline-block;
    width: 19%;
    margin-left: 280px; }
    .college-announcments .UpEvents .text-m-1 {
      color: #59aac0;
      padding-bottom: 25px; }
    .college-announcments .UpEvents .text-m-2 {
      padding-bottom: 25px; }
  .college-announcments .thisWillMoveL {
    display: inline-block;
    width: 30%; }
  .college-announcments .bar, .college-announcments .bar-schedule {
    background-color: #6291a9;
    height: 2px;
    width: 79%;
    margin-top: 0px;
    margin-bottom: 10px; }

.Software-Project-I {
  margin-left: 350px; }
  .Software-Project-I .S-P-I {
    width: 20%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 620px; }
    .Software-Project-I .S-P-I .text-m-1 {
      color: #59aac0;
      padding-bottom: 10px; }
  .Software-Project-I .bar, .Software-Project-I .bar-schedule {
    background-color: #6291a9;
    height: 2px;
    width: 79%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px; }

.TutoringAvailable {
  margin-left: 350px;
  display: inline-block;
  padding-bottom: 20px; }
  .TutoringAvailable .C-A-L {
    display: inline-block;
    width: 40%; }
    .TutoringAvailable .C-A-L .text-m-1 {
      color: #59aac0;
      padding-bottom: 10px; }
    .TutoringAvailable .C-A-L .text-m-2 {
      padding-bottom: 10px; }
    .TutoringAvailable .C-A-L .text-r-1 {
      font-size: 15px;
      padding-bottom: 5px;
      color: #373737; }
  .TutoringAvailable .upcoming-events2 {
    margin-left: 200px;
    display: inline-block;
    width: 24%; }
    .TutoringAvailable .upcoming-events2 .text-m-1 {
      color: #59aac0;
      padding-bottom: 10px; }

.schedule-page {
  background-color: #f7f7f7; }

.current-schedule {
  width: 61.5%;
  display: inline-block;
  margin-left: 40px; }
  .current-schedule .current-schedu {
    display: inline-block;
    width: 50%; }
    .current-schedule .current-schedu .text-m-1 {
      display: inline-block;
      padding-top: 10px;
      color: #59aac0;
      width: 100%; }
  .current-schedule .view-as {
    display: inline-block;
    width: 20%;
    margin-left: 250px; }
  .current-schedule .text-m-1 {
    color: #59aac0;
    display: inline-block;
    width: 13%; }
  .current-schedule .text-m-2 {
    display: inline-block;
    width: 34%; }
  .current-schedule .text-r-1 {
    display: inline-block;
    width: 3%; }

.schedule-list {
  display: block;
  margin-top: 10px;
  margin-left: 40px; }
  .schedule-list .list-uno .text-m-1 {
    padding-top: 15px;
    color: #2e0a3a;
    font-weight: bold; }
  .schedule-list .list-uno .text-m-2 {
    padding-top: 10px; }

.semester-up {
  width: 165.1px;
  height: 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-left: 340px;
  color: #48a2ba;
  margin-top: 17px; }

.spring-up {
  width: 165.1px;
  height: 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #5bd8c8;
  margin-top: 17px;
  margin-left: -90px; }

.registerbox {
  width: 800px;
  height: 235px;
  background-color: white;
  margin-top: 25px;
  padding-right: 40px; }
  .registerbox h1 {
    color: #48a2ba;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding-top: 50px; }

.registerbox h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  margin-top: 5px;
  letter-spacing: 0.2px;
  font-size: 16px; }

.startb {
  width: 120px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f7f7f7;
  background-color: #48a2ba;
  margin-left: 340px;
  margin-top: 35px; }

.Header-schedule {
  margin-top: 39px;
  margin-bottom: 39px; }

.Home-schedule {
  margin-left: 28%;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #1b3c50;
  font-family: "Montserrat", sans-serif; }

.Logout-schedule {
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: right;
  color: #48a2ba; }

.bar-schedule {
  padding-right: 90px; }

.Sundaytwo-one {
  width: 238px;
  height: 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2px;
  float: right;
  color: #1b3c50;
  padding-right: 170px; }

.Current-schedule-c {
  margin-left: 1000px; }

.CS-container {
  display: inline-flex; }

.CS-inlineflex {
  flex-direction: row; }

.CS {
  width: 320px;
  height: 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: left;
  color: #48a2ba;
  margin-top: 17px;
  margin-left: 35%; }

.View-as-c, .list-c, .line-c, .Calendar-c {
  width: 165.1px;
  height: 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #2e0a3a;
  margin-top: 17px;
  margin-left: 415px; }

.list-c {
  float: right;
  text-decoration: none;
  margin-left: -90px; }

.line-c {
  float: right;
  text-decoration: none;
  margin-left: -130px; }

.Calendar-c {
  text-decoration: none;
  float: right;
  margin-left: -150px; }

.flex-container {
  display: inline-flex;
  margin-top: 14px;
  margin-left: 10%; }

.Day-one, .Day-two, .Day-three, .Day-four, .Day-five {
  width: 160px;
  height: 375px;
  background-color: rgba(47, 207, 186, 0.15);
  flex-direction: row;
  margin-right: 2px; }

.monday, .tuesday, .Wednesday, .Thursday, .Friday {
  width: 130px;
  height: 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #2e0a3a;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px; }

.Monday-english-container, .Tuesday-math-container, .Wednesday-english-container, .Thursday-math-container {
  width: 160px;
  height: 59px;
  background-color: #1b3c50; }

.Monday-english, .English-Composition, .College-algebra, .Tuesday-math, .Wednesday-english, .Thursday-math {
  width: 134px;
  height: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f7f7f7;
  padding-top: 15px;
  padding-left: 20px; }

.English-Composition, .College-algebra {
  font-size: 10px;
  line-height: 1.2; }

.CSET-0neZeroFive-container, .CSET-0neten-container-wed, .CSET-0neten-container, .CSET-0netwozero-container {
  width: 160px;
  height: 177px;
  background-color: #1b3c50;
  margin-top: 78px; }

.IntroToWeb-Monday, .CSET-0neZeroFive, .CSET-0neten-wed, .CSET-0neten, .Web-development-one {
  width: 85%;
  height: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f7f7f7;
  margin: 0px 10% 0px 5%; }

.CSET-0neZeroFive, .CSET-0neten-wed, .CSET-0neten {
  width: 90%;
  font-size: 8px;
  line-height: 1.5;
  padding-top: 65px;
  margin: 0px 5% 0px 5%; }

.CSET-0neten-container-wed {
  height: 162px;
  margin-top: 93px; }

.CSET-0neten-wed {
  padding-top: 50px; }

.CSET-0netwozero-container {
  margin-top: 137px; }

.body .headerupcoming {
  margin-left: 300px; }
.body .header-section {
  margin-left: 110px; }

.headerupcoming {
  background-color: #f7f7f7;
  margin-left: 240px;
  margin-top: 40px; }
  .headerupcoming .home {
    margin-left: 10%;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #1b3c50;
    font-family: "Montserrat", sans-serif;
    margin-right: 400px;
    text-decoration: none; }
  .headerupcoming .log-out {
    margin-left: 350px;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: right;
    color: #48a2ba;
    text-decoration: none; }
  .headerupcoming .bar, .headerupcoming .bar-schedule {
    background-color: #6291a9;
    height: 2px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px; }

.header-section {
  background-color: #f7f7f7;
  margin-left: 0px; }
  .header-section .current-prog .text-m-1 {
    color: #59aac0;
    padding-bottom: 10px; }
  .header-section .current-prog .text-m-2 {
    padding-bottom: 10px; }
  .header-section .bar, .header-section .bar-schedule {
    background-color: #6291a9;
    height: 2px;
    width: 73%;
    margin-top: 10px;
    margin-bottom: 10px; }

.header-block {
  display: inline-block;
  width: 77%; }
  .header-block .first {
    display: inline-block;
    width: 34%; }
    .header-block .first .text-m-1 {
      font-weight: bold;
      padding-bottom: 10px; }
  .header-block .second {
    display: inline-block;
    padding-left: 30px;
    width: 23%; }
    .header-block .second .text-m-1 {
      font-weight: bold;
      padding-bottom: 10px; }
  .header-block .third {
    display: inline-block;
    padding-left: 60px;
    width: 23%; }
    .header-block .third .text-m-1 {
      font-weight: bold;
      padding-bottom: 10px; }

.academic-services {
  color: #1b3c50;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  letter-spacing: 0.2px;
  border-color: red;
  float: right;
  margin-right: 950px;
  margin-top: -15px; }

.upcominglink, .Current-schedule-c {
  color: #1b3c50;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  letter-spacing: 0.2px;
  border-color: red;
  float: right;
  margin-right: 805px;
  margin-top: -15px;
  color: #52a5af; }

.upcoming-courses-en {
  display: inline-block;
  margin-left: 350px;
  margin-top: 200px; }
  .upcoming-courses-en .up-courses-en {
    border: solid red;
    display: inline-block;
    float: left; }
    .upcoming-courses-en .up-courses-en .text-m-1 {
      color: #59aac0; }
    .upcoming-courses-en .up-courses-en .sem-spring {
      display: inline-block;
      border: solid red;
      float: right; }
      .upcoming-courses-en .up-courses-en .sem-spring .text-m-1 {
        color: #48a2ba; }
      .upcoming-courses-en .up-courses-en .sem-spring .text-m-2 {
        color: #59aac0; }

.courseregistration {
  margin-top: 40px;
  color: #33c7ba;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: .2px;
  margin-left: 380px;
  float: left; }

.course-sixty {
  display: inline-block; }

.sixty {
  margin-top: 40px;
  color: #33c7ba;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: .2px;
  float: right;
  margin-left: 525px; }

.lightblueline {
  width: 381px;
  height: 5px;
  background-color: #50e3c2;
  float: left; }

.darkblueline {
  width: 812px;
  height: 5px;
  background-color: #359ca1; }

.linetogether {
  display: inline-block;
  margin-left: 385px; }

/*# sourceMappingURL=style.css.map */
